/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/Categories/categories_style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.categories-container .category {
  margin: 5px;
  width: 90%;
  height: 380px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}
.categories-container .category:hover {
  transform: scale(1.1);
}
.categories-container .category {
  text-align: center;
}
.categories-container .category img {
  width: 100%;
  object-fit: cover;
  height: 253px;
}
.categories-container .category h1 {
  color: #ddd;
  font-size: 2em;
  padding: 10px 0;
}
.categories-container .category h1:hover {
  cursor: pointer;
  color: #FF5A5F;
  transition: all 0.4s ease-in-out;
}

.heading {
  text-align: center;
  color: #FF5A5F;
}
